#twitter li {
	padding:20px;
	user-select:none;
	color:black;
	background-color:white;
	text-align:left;
	max-width:768px;
	margin:50px auto;
	font-weight:300;
	border-radius:5px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#twitter .interact a {
	border: 2px solid #0077FF;
	margin:8px;
	padding:6px 16px;
	border-radius:6px;
	font-weight:400;
	transition:all 300ms linear;
}

#twitter .interact a:hover {
	color:white;
	background-color:#0077FF;
}

#twitter .tweet {
	font-size:24px;
}

@media (max-width:768px) {
	
#twitter .interact a {
	display:block;
	text-align:center;
}
}

#twitter .timePosted {
	display:none;
}

.newspage {
	overflow:hidden;
	min-height:700px;
}



.real-content {
	max-width:2096px;
	padding:20px;
	padding-right:380px;
	
	
	
}

.real-content li {
	padding:20px;
	user-select:none;
	color:black;
	background-color:white;
	text-align:left;
	max-width:768px;
	margin:50px auto;
	font-weight:300;
	border-radius:5px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.newsCard .title {
	font-size:20px;
	margin:0;
	line-height:36px;
	text-align:center;
	
}

.newsCard img {
	max-width:768px;
	height:auto;
	width:220px;
	height:220px;
	border-radius:5px;
}




.newsCard p {
	text-align:center;
}

.newsCard .date {
	font-weight:500;
	color:#0077FF;
	line-height:36px;
	font-size:18px;
	text-align:center;
	padding-left:28px;
}

.newsCard div[data-index="2"]  {
	text-align:center;
	line-height:48px;
	display:table;
	width:100%;
}

.newsCard div[data-index="2"] span {
	text-transform:uppercase;
	color:#0077FF;
	font-weight:500;
	cursor:pointer;
	font-size:18px;
	padding-right:24px;
	display:table-cell;
}

.newsCard .hide {
	display:none;
}

.newsCard .highlight {
	font-size:16px;
	color:rgb(48,48,48);
	font-style:italic;
	text-align:center;
}

.newsCard .long {
	text-align:justify;
}

.newsCard span[data-act="1"] {
	font-size:36px !important;
	transition:all 300ms linear;
}

.newsCard span[data-act="1"]:before {
	transition:all 300ms linear;
}


.newsCard .rotated:before {
	transform:rotate(180deg);
}

@media (max-width:768px) {
	.newspage  iframe{
	position:static !important;
	display:block;
	width:100% !important;
	}
	.real-content {
		padding-right:20px;
	}
	
	
	
}

@media (min-width: 769px) {
	.newspage  iframe.twitter-timeline {
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	position:absolute !important;
	top:124px;
	right:10px;
	border-radius:20px;
}
}

@media (min-width:	960px) {
	
	.newsCard div[data-index="1"] {
		display:table;
		width:100%;
	}
	.newsCard .cover {
		display:table-cell;
	}
	.newsCard .infodiv {
		display:table-cell;
		vertical-align:top;
		padding-left:16px;
	}
	
	.newsCard .title {
		text-align:center;
		margin:0;
		line-height:56px;
		font-weight:300;
		font-size:22px;
	}
	.newsCard .date {
		text-align:center;
		padding:0;
		margin:0;
	}
	.newsCard div[data-index="2"] {
		position:relative;
	}
	
	
}


